body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
}

.hidden {
    display: none;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005bbf;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}

p {
    font-weight: bold;
}

span {
    color: #0073e6;
}
